@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&family=Poppins:ital,wght@1,500&display=swap');


* {
    padding: 0px;
    margin: 0px;
    font-family: 'Fuzzy Bubbles', curs;
}

 :root {
    --color-principal:  rgb(247, 214, 204);
 }

 /* header menu y logo inicio */
.header-menu {
    position:fixed;
    padding: 1rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content:space-between;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 5rem;
    background-color: rgb(255, 255, 255);
    z-index: 1;
}


.nav-menu {
    gap: 2rem;
    width: 80vh;
    position: relative;
}
    

.img-logo {
    width: 8rem;
    height: auto;
    margin-left: 10rem;
}

.link-item {
    text-decoration: none;
    color: black;
    font-weight:400;
}

.btn-hamburguer {
    visibility: hidden;
}


/* response menu hamburguer inicio */

@media (max-width: 780px) {

    .btn-hamburguer {
        visibility: visible;
        position: sticky;
        width: 3rem;
        height: 5rem;
        border: none;
        /*border-radius: 50%;*/
        margin-right: 5rem;
       /* background-color: rgb(0, 0, 0);*/
        background-color: rgb(255, 255, 255);
    }

    .btn-hamburguer hr {
        padding: 5px;
        padding: auto;
        border: solid rgb(0, 0, 0) 2px;
        border-top: 0ch;
        border-left: 0ch;
        border-right: 0ch;
        cursor: pointer;
    }

    .nav-menu a{
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: -100px;
    }


    .nav-menu {
        position: absolute;
        top: 7rem;
        background-color: rgba(51, 50, 51, 0.76);
        display: flex;
        flex-direction: column;
        width: 100%;
        height: calc(100% + 600px);
        padding: 2rem;
        left: 100%;
        transition: all 2s;
    }

    .colapse {
        left: 0;
    }
    
}
/* responsil menu hamburguer final */
 
/* header menu y logo final */


/* secciones inicio */

section {
    display: flex;
    width: 100%;
    height: 600px;
}

/* Home inicio */

.section-1 {
    background-image: url(./img/fondo.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.img-inicio {
    max-width: 20rem;
    position: relative;
    bottom: -5px;
}

.parrafo-inicio {
    align-self: center;
    position: relative;
    bottom: 50px;
    font-weight: bolder;
}

@media (max-width: 780px) {
    
    .parrafo-inicio {
        right: 100px;
    }
    
}

/* Home final */


/* secciones final */

