@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&family=Poppins:ital,wght@1,500&display=swap');


* {
    padding: 0px;
    margin: 0px;
    font-family: 'Fuzzy Bubbles', curs;
}

 :root {
    --color-principal:  rgb(247, 214, 204);
 }

 /* header menu y logo inicio */
.header-menu {
    position:fixed;
    padding: 1rem;
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 5rem;
    background-color: var(--color-principal);
}


.nav-menu {
    gap: 2rem;
    width: 80vh;
    position: relative;
}
    

.img-logo {
    width: 8rem;
    height: auto;
    margin-left: 10rem;
}

.link-item {
    text-decoration: none;
    color: black;
    font-weight:400;
}

.btn-hamburguer {
    visibility: hidden;
}


/* response menu hamburguer inicio */

@media (max-width: 780px) {

    .btn-hamburguer {
        visibility: visible;
        position: sticky;
        width: 5rem;
        height: 5rem;
        border: none;
        border-radius: 50%;
        margin-right: 5rem;
    }
    .nav-menu a{
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: -100px;
    }


    .nav-menu {
        position: absolute;
        top: 7rem;
        background-color: rgba(51, 50, 51, 0.76);
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        padding: 2rem;
        left: 100%;
        transition: all 1.5s;
    }

    .colapse {
        left: 0vmin;
    }
    
}
/* responsil menu hamburguer final */
 
/* header menu y logo final */

/* secciones inicio */

section {
    display: flex;
    width: 100vh;
    height: 600px;
}

.seccion h3{
    text-align: center;
}

/* secciones final */