@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&family=Poppins:ital,wght@1,500&display=swap');


* {
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
}

h2 {
    text-align: center;
}
/* Contenedor nav */
.nav_conteiner {
    display: flex;
    justify-content: end; /* Lo manda a la derecha */
    position: sticky; /* Posición pegajosa */
    top: 0; /* Arriba de todo */
    width: 100%;
    height: 100px;
    background-color: rgb(34, 112, 202);
    z-index: 10
}

/* Contenedor div Logo */

.nav_conteinerLogo img{
    width: 30%;
    height: 200px;
    align-items: center;
    position: absolute; /* Posición absoluta dependiendo su padre  más cercano
    relativo */
    top: -50px;
    left: 0px;
}

/* Contenedor nav Menu */

.nav_conteinerMenu {
    width: 50%; /* Ancho */
    height: auto; /* Alto */
    justify-items:center;
    display: flex;
    justify-content: space-around; /* Espacio entre el contenedor */
    position: absolute;
    right: 30px; /* Derecha */
    top: 45px;
}

.nav_conteinerMenu a {
    text-decoration: none;
    font-family: 'Fuzzy Bubbles', curs;
    color: black;
}

/* Secciones de la web */

section {
    width: 100%;
    height: 600px;
}

/* Home */
.conteiner_Home {
    background-image: url(/img/fondo.jpg);
    background-size: 100% 550px;
    background-repeat: no-repeat;
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: center;
}

/*.pc{
    margin-right: 1000px;
    margin-bottom: 100px;
}*/

.div_home1 {
    width: 300px;
    height: auto;
    display: inline;
    justify-content:center;
    text-align: center;
    margin-left: 50px;
    margin-top: 150px;
    font-family:fantasy;
    font-size: x-large;

}

.div_home {
    width: 206px;
    height: 90px;
    display: block;
    justify-content: center;
    margin-top: 245px;
    margin-left: 150px;
    /*margin-right: 350px;*/
}

.div_home p{
    font-family:fantasy;
    font-size: x-large;
    text-align:center;
    size: 90px;
    width: 200px;
    height: 50px;
    margin-bottom: 40px;
    align-self: center;
    color: rgb(251, 251, 253);
}

.btn_action {
    font-family: fantasy;
    font-size:large;
    margin-left: 30%;
    width: 80px;
    height: 50px;
    border-radius: 10px;
    background-color: rgb(251, 251, 253);
}



/* Pie de pagina */

footer {
    display: flex;
    justify-content: center;   
}

footer p {
    size: 5px;
    font-size:x-large;
    letter-spacing: 1px;
}

.pie_dePagina {
    width: 12px;
    height: 12px;
}